.main-logo {
    margin-left: 0;
    margin-top: 15px;
    width: 200px;
}

.nav-link:hover{
    color: darkgreen;
    column-gap: normal; 

}

#start-button{
    border: 1px solid green;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: green;
    text-align: right;
}
#start-button:hover{
    background-color: green;
    color:white;
}

#container-main{
    width: 100%;
    height: 75vh;
    overflow: hidden;
    position: relative;
    background-image:url(../images/kids0.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
    -webkit-animation: change 10s infinite ease-in-out;
}
@keyframes change{
    0%
    {
        background-image: url(../images/kids2.png);
    }
    50%
    {
        background-image: url(../images/kids1.png);
    }
    100%
    {
        background-image: url(../images/kids0.png);
    }
}

.slogan {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: rgb(214, 250, 132);
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

#center-button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
   
}

#center-button:hover{
    box-shadow: 0 1px 10px 1px greenyellow;
    color: greenyellow;
    background-image: linear-gradient(to right, green , darkgreen);    
}

#todays{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: rgb(10, 65, 53);
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    margin: none;
}

#we-work {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(99, 99, 99);
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    margin-top: none;
}

#img-card1, #img-card2, #img-card3 {
    color: grey;
    text-align: center;
    padding: 0;
    border: 0 ;
  
 }

#img-do-in-teer1, #img-do-in-teer2, #img-do-in-teer3{
    width: 350px;
    height: 350px;
    padding: 40px;
    filter: brightness(50%);
    margin: 0 auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transition: transform .25s;
    -webkit-transition: transform .25s;
    -moz-transition: transform .25s;
    -ms-transition: transform .25s;
    -o-transition: transform .25s;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
    -webkit-filter: brightness(50%);
}

#img-do-in-teer1:hover {
    filter: brightness(90%);
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: transform .25s;
    -webkit-transition: transform .25s;
    -moz-transition: transform .25s;
    -ms-transition: transform .25s;
    -o-transition: transform .25s;
    -webkit-filter: brightness(90%);
}

#img-do-in-teer2:hover {
    filter: brightness(90%);
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: transform .25s;
    -webkit-transition: transform .25s;
    -moz-transition: transform .25s;
    -ms-transition: transform .25s;
    -o-transition: transform .25s;
    -webkit-filter: brightness(90%);
}

#img-do-in-teer3:hover {
    filter: brightness(90%);
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: transform .25s;
    -webkit-transition: transform .25s;
    -moz-transition: transform .25s;
    -ms-transition: transform .25s;
    -o-transition: transform .25s;
    -webkit-filter: brightness(90%);

}
#footer{
    margin-top: 100px;
    padding: 50px;
    text-align: center;
    background-color:black;
    color: white;
}

#about{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: rgb(10, 65, 53);
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    margin-top: 50px;
    margin: none;
}

#were-about {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: black;
    text-align: center;
    margin-top: 50px;
    margin: none;
}

#were-sub-about {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    color: gray;
    text-align: center;
    margin-top: 5px;
    margin: none; 
    padding-left: 100px;
    padding-right: 100px;
}